.btn-blue {

	background-color: #6D71DD;
	padding: 30px 40px;
	border-radius: 0px;
	color: white;
	font-weight: bold;
	opacity: 0%


}
.btn-white {

	background-color: #6D71DD;
	padding: 15px 25px;
	border-radius: 0px;
	color: white;
	font-weight: bold;
	


}